@import 'global';
@import 'fonts';



// start aside

.aside{
    background-color: #815DFF;
    box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.5);
    position: relative;
    display: flex;       
    &-logo{
        display: inline-block;
        padding: 43px 26px 31px;
    }
}
.aside-left{
    max-width: 250px;
    width: 100%;
}
.aside-right{
    background-color: rgba(#000000, .15);
    max-width: 120px;
    width: 100%;
}
.aside__menu{
    margin-bottom: 20px;    
    max-width: 251px;
    position: relative;
    &::after{
        position: absolute;
        content: '';
        background-image: url(../images/);
    }
      a{
           color: #FFF;
           font-family: 'Stolzl';
           font-weight: 400;
           font-size: 16px;
           line-height: 39px;
           padding: 5px 26px;
           width: 100%;
           &:hover{
                border-left: 6px solid #fff;
            background-color: rgba(#000000, .15);
            
        }
    }       
}
.aside-dropdown__list{
   width: 0;
   overflow: hidden;
   opacity: 0;
   z-index: 1;   
   position: absolute;
   right: -78px;
   top: 0;
   a{
        font-family: Stolzl;        
        font-weight: normal;
        font-size: 14px;
        line-height: 35px;
        color: #FFFFFF;
        opacity: 0.5; 
        border-left: none;       
    }
}    
.aside-dropdown:hover{
    .aside-dropdown__list{
        width: auto;
        overflow: visible;
        opacity: 1;
        transition: all 1s;
        a{
            border-left: none;
            background-color: transparent;
            transition: all .5s;
            &:hover{
                opacity: 1;
            }
        }
    }    
}  
.aside__box{
    border-top: 1px solid rgba( #fff, .31);
    margin-left: 25px; 
    margin-right: 25px;
    padding-top: 20px;   
    .aside__box-link{
        margin-bottom: 21px;
        a{
            font-family: Stolzl;
            font-weight: 400;
            font-size: 13px;
            line-height: 28px;
            color: #FFFFFF;
            opacity: 0.6;
        }
    }
    .aside__box-btn{
        a{
             font-family: Stolzl;
             font-weight: 700;
             font-size: 12px;
             line-height: 14px; 
             color: #FFF;
             text-transform: uppercase;
             padding: 13px 0;
             width: 100%;
        }
        margin-bottom: 6px;
        background-color: #42E393;
        width: 200px; 
        text-align: center;          
       
        &.btn-get{
            background-color: rgba(#fff, .15);
        }
    }
}
.aside__box-social{
    margin-top: 49px;   
    margin-bottom: 18px; 
    display: flex;
    justify-content: space-around;
    opacity: 0.5;
    padding-right: 35px;
    padding-left: 10px;
}

// end aside

// start header

.header{
    position: relative;
    background-color: #F2F2F2;
    padding-left: 67px;
    padding-bottom: 54px;
}
.header__head{
    position: absolute;
    background-color: #2CA5E0;
    width: 100%;
    left: 0;
    min-height: 53px;
    display: flex;
    align-items: center;
    &-text{
        padding-left: 150px;
        padding-right: 92px;
        font-family: Stolzl;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        color: #FFFFFF;
        span{            
            font-weight: 700;
        }
        &::before{
            content: '';
            position: absolute;
            background-image: url(../images/header-head-ico1.svg);
            width: 31px;
            height: 27px;
            left: 67px;
            top: 13px;
        }
    }
    &-btn{
        padding-right: 10px;
    }
}
.header__content{    
    padding-top: 111px;
}
.header__content-inner{
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    width: 100%;
    margin-right: 10px;
}
.header__content-title{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 34px;
        &-text{
            font-family: Stolzl;
            font-weight: 700;
            font-size: 36px;
            line-height: 43px;
            color: #000000;
            padding-right: 10px;
        }
        &-images{
            padding-right: 17px;
        }
        &-star{
            padding-right: 20px;           
        }
        &-link{
            padding-top: 20px; 
            margin-right: 10px;          
        }
    }
.header__content-box{
    display: flex;
}
.header__content-text{
    max-width: 448px;
    width: 100%;
    p{
        font-family: 'Avenir-Medium';        
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        margin: 0;
    }
    a{
        color: #FE5A81;
        font-weight: 800;
        font-family: 'Avenir-Heavy';
        font-size: 16px;
        line-height: 22px;
        transition: all .3s;
        &:hover{
            text-decoration-line: underline;    
        }
    }
}
.header__content-media{
    padding-left: 40px;
    iframe{
        max-width: 171px;
        height: 106px;
        margin-bottom: 27px;
    }    
}
.media-box__date{
    .date-text{
        font-family: Stolzl;        
        font-weight: 700;
        font-size: 10px;
        line-height: 20px;        
        color: #C3C3C3;          
    }
    .date-number{
        font-family: Stolzl;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: #815DFF;
    }
}
.links-box{
    padding-left: 24px;
    &__btn{
        background-color: #42E393;
        margin-bottom: 29px;
        a{
            font-family: Stolzl;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            padding: 12px 65px 12px 35px;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                background-image: url(../images/header-arrow.svg);
                width: 38px;
                height: 14px;
                right: 15px;
            }
        }
    }
    &__link{
        width: 130px;
        a{
            font-family: Avenir;
            font-weight: 800;
            font-size: 14px;
            line-height: 22px;
            color: #FE5A81;
            text-align: center;
            transition: all .3s;  
            padding-left: 35px;          
            &:hover{
                text-decoration-line: underline;
            }          
        }
    }
}
.menu-btn{
    width: 40px;
    display: none;  
    cursor: pointer;  
    margin-top: 25px;
    margin-right: 5px;
    height: 33px;
    .menu-btn__row{
       width: 100%;
       height: 4px;
       background-color: #2F295A;
       margin-bottom: 5px;
       border-radius: 2px;
   } 
}
// end header

// start cartegory

.category{
    background-color: #262053;
    &__inner{
        display: flex;
        justify-content: flex-start; 
        padding: 50px 50px 26px;
        .category__item{
            width: 80px;          
            text-align: center;
            & + .category__item{
                margin-left: 20px;
            }
            &-ico{
                min-height: 54px;
                img{
                    transition: all .5s;
                    &:hover{
                        transform: scale(1.3);                      
                    }
                }               
            }
            &-name{
                font-family: 'Avenir-Medium';
                font-weight: 800;
                font-size: 11px;
                line-height: 22px;
                text-align: center;
                opacity: 0.9;
                text-transform: uppercase;                            
            }
            &-subname{
                font-family: 'Avenir-Medium';
                font-size: 13px;
                line-height: 15px;
                color: #FFFFFF;
                opacity: 0.5;
            }
        }   
    }
}
// end category

// start roadmap

.roadmap{
    background-color: #2F295A;    
    &__title{
        font-family: 'Avenir-Heavy';
        font-weight: 800;
        font-size: 28px;
        line-height: 38px;
        color: #FFFFFF;
        padding: 40px 67px 0;
    }
    &__slider{
        background-image: url(../images/roadmap-line.svg);
        background-repeat: no-repeat;
        background-position: center right;
        min-height: 400px;
        overflow: hidden;
        .slick-arrow{
            background-color: #2F295A;
            border: none;
            position: absolute;
            bottom: 62px;
            cursor: pointer;
            opacity: 0.3;             
            &.slick-next{
                left: 164px;  
                &:focus{
                    opacity: 1;
                }                        
            }
            &.slick-prev{
                transform: rotate(180deg);
                left: 75px;
                bottom: 66px;
                &:focus{
                    opacity: 1;
                } 
            }
        }
        .slick-list{
            top: 189px;
            left: 69px;   
            overflow: visible;  
            .slick-slide{
                   position: absolute;
                   width: 30px;
                   &.slick-current{                     
                     .slider-item__image{
                         position: relative;
                         & img{   
                            transition: all .4s;
                            position: absolute;
                            transform: scale(1.45);
                            top: 0px; 
                            right: 8px;
                            z-index: 5;                
                        }                        
                    }
                    .slider-item__info{
                     opacity: 1;          
                     transition: all 1.2s;
                    }
                }
            }
        }
    }
}
.roadmap__slider-item{
    position: relative;
    width: 22px;
    height: 22px;    
    .slider-item__info{
        position: absolute;
        opacity: 0.05;
        width: 175px;
        
        &::before{
            content: '';
            position: absolute;
            background-image: url(../images/slider-item-line.svg);
            width: 7px;
            height: 76px;           
        }
        &-date{
            font-family: Avenir;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            color: rgba(255, 255, 255, 0.803753);
            margin-bottom: 15px;
        }
        &-descr{
            font-family: Avenir;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: rgba(255, 255, 255, 0.3);
        }
    } 
}
.slider-item--1{    
    .slider-item__info{
        top: -120px;
        left: 29px;        
        &:before{
            bottom: -43px;
            left: -21px;
        }
    } 
}
.slider-item--2{
    left:  212px;
    .slider-item__info{
        top: 56px;
        left: 30px;
        &:before{
            bottom: 64px;
            left: -21px;
            background-image: url(../images/slider-item-line-down.svg);
        }
    } 
}
.slider-item--3{
    left: 368px;
    .slider-item__info{
        top: -120px;
        left: 29px;
        &:before{
            bottom: -61px;
            left: -21px;
        }
    } 
}
.slider-item--4{
    left: 455px;
    .slider-item__info{
        top: 56px;
        left: 29px;
        &:before{
            bottom: 27px;
            left: -21px;
            background-image: url(../images/slider-item-line-down.svg);
        }
    } 
}
.slider-item--5{
    left: 578px;
    .slider-item__info{
        top: -120px;
        left: 29px;
        &:before{
            bottom: -23px;
            left: -21px;
        }
    } 
}
.slider-item--6{
    left: 770px;
    .slider-item__info{
        width: 150px;
        top: 38px;
        left: 34px;
        &:before{
            bottom: 27px;
            left: -26px;
            background-image: url(../images/slider-item-line-down.svg);
        }
    } 
}
//  end roadmap 

// start team-slider

.team-slider{
    background-color: #f2f2f2;  
    position: relative;  
    &__title{        
        padding: 40px 0 40px 68px;
        display: inline-block;    
        button{
            font-family: 'Avenir-Heavy';
            font-weight: 800;
            font-size: 28px;
            line-height: 38px;
            color: #000000;
            border: none;
            text-decoration: none;
            opacity: 0.2;
            &.mixitup-control-active{
                opacity: 1;
            }
        }
        &.advisors-title{
            padding-left: 20px;
        }
    }
}
.team-slider__inner{
    padding-left: 76px;     
    
    min-height: 310px;
    display: flex;
    .slick-list{
        overflow: hidden;
        
    }    
    .slick-track{
        .slick-current{
            .team-slider__item{
                border: 4px solid #815DFF;
            }
            
        }  
    }
    .slick-arrow{
        position: absolute;   
        list-style: none;     
    }
    .slick-arrow.slick-prev{
        right: 227px;
        top: -79px;
        width: 70px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;        
        border: 2px solid #6D4ED8;
        margin-right: 10px;        
        &:focus{
            background-image: url(../images/team-slider-arrow-active.svg);
            transform: rotate(180deg);            
        }
    }
    .slick-arrow.slick-next{
        right: 149px;
        top: -79px;
        width: 70px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;        
        border: 2px solid #6D4ED8;        
        &:focus{
            right: 147px;
            top: -80px;
            background-image: url(../images/team-slider-arrow-active.svg);
        }
        img{
            transform: rotate(180deg);
        }
    }
}

.team-slider__item{
    max-width: 173px;
    width: 100%;
    min-height: 210px;
    text-align: center;
    background-color: #fff;
    &-image{
        padding-top: 16px;
        display: flex;
        justify-content: center;
    }
    &-name{
        font-family: Avenir;
        font-weight: 800;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        padding-top: 15px;
    }
    &-descr{
        font-family: Avenir;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.300696);
        padding-bottom: 15px;
    }
}

// end team-slider

// start about

.about{
    background-color: #FE5A81;
    padding: 53px 147px 50px 67px;
    &__title{
        font-family: Avenir;
        font-weight: 800;
        font-size: 28px;
        line-height: 38px;
        color: #FFFFFF;
    }
}
.about__inner{
    display: flex;
    &-text{
        font-family: Avenir;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        max-width: 553px;
        width: 100%;
        margin-right: 125px;
        p{
            margin-bottom: 20px;
        }
    }
    &-btn{
        margin-top: 23px;
        a{
            font-family: Avenir;
            font-weight: 800;
            font-size: 12px;
            line-height: 14px;          
            padding: 30px 100px 30px 30px;
            border: 3px solid #FFFFFF;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                background-image: url(../images/about-arrow.svg);
                width: 44px;
                height: 14px;
                top: 37px;
                right: 28px;
            }
         }
     }
}
.about__bonuses{
    margin-top: 35px;
    &-title{
        font-family: Avenir;
        font-weight: 800;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 17px;
    }
    li{
        padding: 5px 40px;
        font-family: Avenir;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url(../images/bonuses-ico.svg);
            width: 18px;
            height: 18px;
            left: 0;
        }
    }
}

// end about

// start form

.form{
    &__title{
        font-family: Stolzl;
        font-weight: bold;
        font-size: 28px;
        line-height: 34px;
        color: #000000; 
        padding: 52px 68px;
    }
}
.form__inner{
    padding: 38px 68px;
    input, textarea{        
        border: 2px solid #000000;
        &::placeholder{
            color: #000;
            font-family: Avenir;
            font-weight: 500;
            font-size: 10px;
            line-height: 14px;
            text-transform: uppercase;
        }      
    }
    input{
        max-width: 270px;
        width: 100%;
        margin-bottom: 18px;
        margin-right: 19px;
         padding: 15px 10px;
    }
    textarea{
        display: block;
        border: 2px solid #000000;
        max-width: 563px;
        width: 100%;
        min-height: 190px;
        padding: 19px 22px;
    }
    &-btn{
        margin: 30px 30px 100px 0;
        a{
            font-family: Stolzl;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            padding: 12px 70px 9px 33px;
            background-color: #42E393;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                background-image: url(../images/about-arrow.svg);
                width: 44px;
                height: 14px;
                top: 12px;
                right: 15px;
            }
        }
    }
}

// end form

// start footer

.footer{
    background-color: #000;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 16px 5px 16px 69px;
        &-copy{
            font-family: Stolzl;
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
            color: #FFFFFF;
            opacity: 0.3;
        }
        &-link{
            a{
                font-family: Stolzl;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                opacity: 0.6;
                margin-left: 15px;
            }
        }
    }
}

//  end footer


@import "media";